---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";

interface TabelaTitulo {
categoria: string;
slug: string;
title: string;
}

const resp = await fetch('http://localhost:4321/API/tableTitle');
const tabelaTitulo: TabelaTitulo[] = await resp.json();

export async function getStaticPaths(){

interface TabelaCompleta {
categoria: string;
}

const res = await fetch('http://localhost:4321/API/tableComplete');
const tabelaCompleta: TabelaCompleta[] = await res.json();

return tabelaCompleta.map(({categoria}) =>{
    return {
      params: { categoria },
    };
  })
}
const { categoria } = Astro.params;
const filtReceitas = tabelaTitulo.filter(item => item.categoria === categoria)
---
<Layout title={categoria}>
  <div class="flex gap-5">
    {filtReceitas.map(({slug, title}) => <div class="w-80 h-80 rounded outline-1 p-2 grow basis-80"><a href=`/${slug}`>{title}</a></div>)}
  </div>
</Layout>
