---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
import receitas from "../../Dados/receitas.json";

export async function getStaticPaths(){
  return receitas.map(({SlugCategoria}) =>{
    return {
      params: { SlugCategoria },
    };
  })
}
const { SlugCategoria } = Astro.params;
const filterReceitas = receitas.filter(item => item.SlugCategoria === SlugCategoria)
---
<Layout titulo={SlugCategoria}>
  <div class="flex gap-5">
    {filterReceitas.map(item => <div class="outline-1 rounded w-100 h-50"><a href={item.linkReceita}>{item.titulo}</a></div>)}
  </div>
</Layout>
