---
import type { GetStaticPaths } from "astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import receitas from "../Dados/receitas.json";
import Compartilhamento from "../components/Compartilhamento.astro";

export async function getStaticPaths(){
  return receitas.map(({slug, titulo, ingredientes}) =>{
    return {
      params: { slug },
      props: { titulo, ingredientes },
    };
  })
}
const { titulo, ingredientes } = Astro.props;
---
<Layout title={titulo}>
  <h1>{titulo}</h1>
  <div>
    <ul id="list">{ingredientes.map(item => <li>{item}</li>)}</ul>
  </div>
<Compartilhamento/>
</Layout>
