---
import type { GetStaticPaths } from "astro";
import Layout from "../layouts/Layout.astro";
import Compartilhamento from "../components/Compartilhamento.astro";
import "../styles/global.css";

export const getStaticPaths: GetStaticPaths = async () => {
  const res = await fetch('http://localhost:4321/API/receitas'); // URL absoluta em build
  const receitas = await res.json();

return receitas.map(({ slug, nome, id }) => ({
    params: { slug },
    props: { nome, id },
  }));
};

const { nome, id } = Astro.props;
---

<Layout title={nome}>
  <h1>{nome}</h1>
  <h1>{id}</h1>
  <Compartilhamento />
</Layout>
