---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";

const res = await fetch('http://localhost:4321/API/receitas')
const receitas = await res.json();
---

<Layout title="inicio">
	<div class="flex gap-5 flex-wrap">
		{receitas.map(item => <div class="w-80 h-80 rounded outline-1 p-2 grow basis-90"><a href={item.slug}>{item.nome}</a></div>)}
	</div>
</Layout>
