---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---
<Layout titulo="search">
  <div id="result" class="block"></div>
  <script src="../script/resultado.js"></script>
</Layout>
