---
import "../styles/global.css";
---
<div>
  <ul class="flex gap-5 justify-center">
    <li><a href="/categorias/Doces">Doces</a></li>
    <li><a href="/categorias/Salgados">Salgados</a></li>
  </ul>
</div>
