---
import "../styles/global.css";
---
<div>
  <ul class="flex gap-5 justify-center">
    <li><a href="/categorias/Bolos">Bolos</a></li>
    <li><a href="/categorias/Tortas">Tortas</a></li>
  </ul>
</div>
