---
import "../styles/global.css";
import HeadTitle from "../components/HeadTitle.astro";
const { titulo } = Astro.props;
---
<!doctype html>
<html lang="en" class="m-0 w-full h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<HeadTitle titulo={titulo}>
	</head>
	<body class="m-0 w-full h-full">
		<slot />
	</body>
</html>
