---
import Header from "../components/Header.astro";
import "../styles/global.css";
import HeadTitle from "../components/HeadTitle.astro";
const { title } = Astro.props;
import Categorias from "../components/Categorias.astro";
---
<!doctype html>
<html lang="pt-BR" class="m-0 w-full h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<HeadTitle title={title}>
	</head>
	<body class="m-0 w-full h-full">
		<Header/>
		<Categorias/>
		<div class="p-5">
			<slot />
		</div>
	</body>
</html>
